* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  max-width: 100%;
  margin: 0 auto;
}

#header {
  background: radial-gradient(circle, rgb(230, 147, 161) 5%, white 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  margin-top: 0;
}

.headercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Tangerine', sans-serif;
  font-weight: 700;
  font-size: xx-large;
  text-shadow: 2px 2px 2px black;
  line-height: 10px;
  color: white;
}

p {
  font-size: larger;
}

section p {
line-height: 27px;
  margin: 0;
  padding: 0;
}

section h2 {
  margin-bottom: 10px; 
}

main h2 {
  font-size: 30px;
  color: black;
}

main {
  margin-top: 150px;
  margin-left: 10px;
}

.vigsel, .fest, .boende, .OSAinfo, .priserboende, .tal, .dressup {
  margin-bottom: 10vh;
}

.Välkommen {
min-height: 20vh;
display: flex;
flex-direction: column;
}

.praktiskt {
  font-family: 'Tangerine', sans-serif;
  font-style: normal;
  font-size: 50px;
  color: rgb(172, 167, 167);
  text-align: center;
}

.nightbefore {
  margin-bottom: 10vh;
}

.bilder1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 80px;
}

img {
  width: 250px;
  height: 350px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leende {
  font-family: 'Tangerine', sans-serif;
  font-style: normal;
  font-size: 50px;
  color: rgb(172, 167, 167);
  text-align: center;
  margin: 10vh;
}

.form-container {
  width: 50%;
}

.gifts {
  margin-bottom: 10vh;
}

.hitta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .map {
    width: 100%;
    height: 500px;
    margin-top: 15px;
    }

@media screen and (max-width: 600px) {

body {
  max-width: 100%;
  margin: 0 auto;
}

main {
  margin-left: 10px;
  margin-right: 10px;
}

#header {
  background-image: url('Assets/pink-flowers-blue-sky-background.jpg');
  background-size: cover;
}

.headercontent {
  font-weight: 400;
  font-size: xx-large;
  text-shadow: 2px 2px 2px black;
}

p {
  font-size: larger;
}

.bilder1 img {
  width: 150px;
  height: 155px;
}


.bilder1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.bilder1 img:nth-child(1) {
  order: 2;
}
.bilder1 img:nth-child(2) {
  order: 3;
}
.bilder1 img:nth-child(3) {
  order: 1;
}
.bilder1 img:nth-child(4) {
  order: 4;
}
.bilder1 img:nth-child(5) {
  order: 5;
}

main h2 {
  font-size: 20px;
}

.Välkommen {
min-height: 30vh;
}

.praktiskt {
  font-size: 40px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0 auto;
}

.leende {
  font-size: 40px;
  margin-top: 50px;
}
iframe {
  height: 500px;
  width: 100%;
}

.form-container {
  width: 100%;
}

.address {
  font-size: 15px;
}

.map {
width: 100%;
height: 400px;
}
}